<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
<!-- Load properties file from classpath -->
<context:property-placeholder location="classpath:sport.properties"/>
    
<!-- Define your beans here -->

<bean id="fortuneService"
			class="com.justin.springdemo.HappyFortuneService">
</bean>

<bean id="tCoach"
 		class="com.justin.springdemo.TrackCoach"
 		init-method="startupInit"
		destroy-method="deInit"
 		>
 		
<!--  		constructor injection -->
 	<constructor-arg ref="fortuneService"/>	 		
</bean>

<!-- This bean will have a prototype scope (singleton is default - sharing reference to 1 memory location) -->
<!-- Note: Prototype scoped beans cannot invoke a destroy method like singleton scoped beans -->
<bean id="bCoach"
 		class="com.justin.springdemo.BaseballCoach"
 		scope="prototype"
 		>	 	
 		
<!--  		setter injection	 -->
	<property name="fortuneService" ref="fortuneService"/>
</bean>

<bean id="sCoach"
 		class="com.justin.springdemo.SoccerCoach">
 		
 		<property name="team" value="${soccerCoach.team}"/>
 		<property name="email" value="${soccerCoach.email}"/>	 		
</bean>

<!--     Logger -->
<bean id="myLoggerConfig" class="com.justin.springdemo.MyLoggerConfig" init-method="initLogger">
	<property name="rootLoggerLevel" value="FINE" />
	<property name="printedLoggerLevel" value="FINE"/>
</bean>


</beans>